html body {  
  /* background: linear-gradient(90deg, #ffe8d6, #e46d1d); */
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  
}
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 2rem;
}
.sign-in{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 2rem;
}
.submit {
  justify-content: center;
  position: absolute;
  color: black;
  top: 80%;
  left: 80%;
}

.header{
  font-family: Oswald-Medium;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  display: block;
}
.matching{
  color: #ffffff;
}
.form-submit{
  display: flex;
  color: white;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 62px;
    background-color: transparent;
    border-radius: 31px;
    font-family: Oswald-Regular;
    font-size: 16px;
    background-color: black;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}
.welcome-user {
  position: absolute;
  right: 5%;
  padding: 14px 16px;
  display: list-item;
  color: white;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input,textarea{
  font-family: Oswald-Medium;
  margin: 5px;
    font-size: 16px;
    color: #43383e;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 40%;
    height: 62px;
    background: #fff;
    border-radius: 31px;
    padding: 0 35px 0 35px;
}
.logout{
  right: 20%;
  position: absolute;
}
.confirm-btn{
  margin: 5px;
  padding: 5px;
  border-radius: 1rem;
}
.logout-button{
  text-align: center;
}
.group {
  position: relative;
 display: block; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(70, 70, 70);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}
a{
  justify-content: space-around;
}
li a:hover {
  background-color: #111;
}
.App{
  overflow-y: scroll;
  background-image: url("../../server/images/pexels-sebastiaan-stam-1097456.jpg");
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
}
