html {
  background: linear-gradient(90deg, #ffe8d6, #e69c6c);
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 2rem;

  /* background: linear-gradient(90deg,#FFE8D6,#DDBeA9); */
}
.sign-in{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 2rem;
}
.submit {
  justify-content: center;
  position: absolute;
  color: black;
  top: 80%;
  left: 80%;
}

/* .form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 1rem;
} */
.header{
  font-family: Oswald-Medium;
  font-size: 40px;
  color: #43383e;
  line-height: 1.2;
  text-align: center;
  display: block;
}
.login-facebook{
  font-family: Oswald-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 25px;
}
.form-submit{
  display: flex;
  color: white;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 62px;
    background-color: transparent;
    border-radius: 31px;
    font-family: Oswald-Regular;
    font-size: 16px;
    background-color: black;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}
.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  font-family: Oswald-Medium;
  margin: 5px;
    font-size: 16px;
    color: #43383e;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 40%;
    height: 62px;
    background: #fff;
    border-radius: 31px;
    padding: 0 35px 0 35px;
}
.logout{
  text-align: center;
}
.group {
  position: relative;
 display: block; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}
a{
  justify-content: space-around;
}
li a:hover {
  background-color: #111;
}
