.singleItem {
  
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
}

.singleItem__image {
  display: flex;
  flex-direction: row;
  width: 200px;
  object-fit: contain;
  margin-right: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.singleItem__details {
  justify-content: center;
  padding: 1rem;
  font-size:large;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.details__title,
.details__price {
  /* padding-top: 25%;
  margin-top: 50%; */
  font-size: 1.5rem;
  font-weight: bold;
  /* justify-content:space-evenly; */
}

.details__addBtn {
  /* background: var(--secondary-color);
  color: var(--light-color); */
  /* border: 1px solid var(--secondary-color); */
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.details__addBtn:hover {
  opacity: 0.95;
}
.products {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
}
.item{
  height: 350px;
  background-color: rgb(220, 220, 220);
  width: 450px;
  margin: 20px;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}